#menu_bar {
    border-bottom: #000000;
    font-weight: 200;
    font-size: 25px;
    color: #000000;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 30px;
    background-color: rgb(255, 255, 255);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
color: #0729c1;
}

.nav_links {
    background-color: rgb(255, 255, 255);
    padding: 1em 0;
}

#resume_body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
}

    h2 {
        font-size: 1.5em;
        padding-bottom: 1em;
    }
    main { 
        display: grid;
        grid-template-columns: 40% 60%;
        margin-top: 3em;
    }
    header {
        text-align: center;
        margin: auto 2em;
    }
   
    section {
        margin: auto 1em 4em 2em;
    }
   
    i {
        margin-right: .5em;
    }
   
    p {
        margin: .2em auto
    }
   
    hr {
        border: none;
        background-color: lightgray;
        height: 1px;
    }
   
    h1, h2 {
        font-weight: 100;
        margin-bottom: 0;
    }
    #mainLeft {
        border-right: 1px solid lightgray;
    }

#link_logo {
    background: transparent;
}

form {
    margin: 20px;
}

form h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

figure {
    caption-side: right;
}

#jack {
    border-radius: 50%;
}

.linkedin {
    margin: 15px;
}